{% extends 'layout.html' %}


{% block styles %}
    <!-- build:css /static/css/iamapp.css -->
    <link rel="stylesheet" href="/static/css/lib/buttons.css" media="all">
    <link rel="stylesheet" href="/static/css/iamapp.css" media="all">
    <!-- endbuild -->
{% endblock %}


{% block main %}
    <h2>[ [ iamapp/index.html</h2>
{% endblock %}


{% block scripts %}
    <!-- build:js /static/js/iamapp.js -->
    <script src="/static/js/lib/require.js"></script>
    <script src="/static/js/require-config.js"></script>

    <script src="/static/js/iamapp/main.js"></script>
    <!-- endbuild -->
{% endblock %}
